<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Relay test</title>
</head>
<body ng-controller="RelayTestController">
    <table>
        <tr ng-repeat="v in variables">
            <td><input type="text" ng-model="v.name" placeholder="name" ng-disabled="v.saved" /></td>
            <td><input id="val" type="text" ng-model="$parent[v.name]" placeholder="value" ng-disabled="$parent.readonly(v.name)" /></td>
            <td><input type="text" ng-model="v.relation" placeholder="relation" ng-disabled="v.saved" /></td>
            <td><input type="text" ng-model="v.inverse" placeholder="inverse" ng-disabled="v.saved" /></td>
            <td><input type="text" ng-model="v.deps" placeholder="dependencies" ng-disabled="v.saved" /></td>
            <td ng-show="!v.saved"><button ng-click="defineStr(v); v.saved = true">save</button></td>
            <td ng-show="v.saved"><button ng-click="v.saved = false">edit</button></td>
        </tr>
    </table>
    <button ng-click="variables.push({})">+ Add</button>
    <script src="angular.min.js"></script>
    <script src="relay.js"></script>
    <script src="relations.js"></script>
    <script src="relaytest.js"></script>
</body>
</html>